* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'lato';
    font-weight: 100;
}

body{
    font-family: 'Roboto';
    font-weight: 400;
    background: linear-gradient(360deg, #141414 1.56%, rgba(0, 0, 0, 0.21) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.container{
    align-items: center;
    margin: auto;
    margin-top: 60px;
    width: 360px;
    border: 20px;
    border: 3px solid #1d1818;
    background-color: #130e0e;
    border-radius: 10px;
    margin-bottom: 60px;
}

.input{
    position: relative;
    width: 355px;
    height: 125px;
    border: 3px solid #2f2f2f;
    text-align: right;
    border-radius: 8px;
    background-color: #2f2f2f;
    color: #fff;
    font-size: 60px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    background: linear-gradient(360deg, #141414 1.56%, rgba(0, 0, 0, 0.21) 100%);
    padding: 18px 13px 13px 13px;
}

button{
    border: 1;
    outline: none;
    height: 75px;
    width: 75px;
    border-radius: 70px;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    clo
    font-size: 25px;
    background-color: #403e3e;
}

.oper {
    background-color: #36a4e3;
}

.ac {
    background-color: #e1f4c7;
}

.equal {
    background-color: #f7f7f7;
}